<%= form_for([@restaurant, @menu], html: { multipart: true }) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-sm-12">
  <div class="form-group">
    <label>카테고리</label>
    <select name="category_id" class="form-control" >
    <option disabled="disabled" selected="selected">카테고리를 선택해주세요</option>
      <% @categories.each do |c| %>
      <% @language_map = LanguageMap.find_by language_id: c.name_id, code: session[:user_language] %>
      <% @cate = @language_map.lan_text %>
        <option value="<%=c.id%>"><%=@cate%></option>
      <% end %>
    </select>
  </div>
  </div>

  <div class="col-sm-3">
  <% Language::LANGUAGES.each_pair do |key, value| %>
    <div class="form-group">
      <label for="<%= key %>_name">메뉴명(<%= value %>)</label>
      <input type="text" class="form-control" 
        id="<%= key %>_name" name="<%= key %>[name]">
    </div>
  <% end %>
  </div>

  <div class="col-sm-3">
  <% Language::LANGUAGES.each_pair do |key, value| %>
    <div class="form-group">
      <label for="<%= key %>_description">메뉴 설명(<%= value %>)</label>
      <textarea type="text" class="form-control" 
        id="<%= key %>_description" name="<%= key %>[description]"></textarea>
    </div>
  <% end %>
  </div>

  <div class="col-sm-3">
  <% Currency::EXCHANGES.each_pair do |key, value| %>
    <div class="form-group">
      <label for="<%= key %>_currency">가격(<%= key %>)</label>
      <input type="text" class="form-control" 
        id="<%= key %>_currency" name="<%= key %>[currency]">
    </div>
  <% end %>
      <a id="calculate-btn" href="#" class="btn btn-white">
        계산
      </a>
      <p><small>*가격을 모두 입력하지 않을 시 시스템 내 환율 기준으로 입력되어 저장됩니다.</small></p>
  </div>
  
  <div class="col-sm-3">
      <div class="field">
        <%= f.label 'Menu Photo' %>
        <div class="input_fields_wrap">
            <a id="add_field_button", href="#", class="btn btn-default">Add More Fields</a>
            <div><input type="file" name="images[]" class="form-control"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" style="float: right">
  <div class="row">
    <div class="col-sm-4">
      <div class="actions">
        <button class="btn btn-white" id="calculate-btn">
          저장
        </button>
      </div>
    </div>
    <div class="col-sm-2">
    <a href="<%= restaurant_menus_path %>" class="btn btn-white">뒤로</a>
    </div>
  </div>
  </div>
<% end %>

<script type="text/javascript">
  $("#calculate-btn").on("click", function(e) {
    e.preventDefault();
      var krPrice = $("#KRW_currency").val();
      var usPrice = $("#USD_currency").val();
      var jpPrice = $("#JPY_currency").val();
      var cnPrice = $("#CNY_currency").val();

      $.ajax({
          url: "/exchange_rates.json",
          type: "GET",
          success: function(data) {
            if (krPrice) {
              var usd_result = data[1].rate/data[0].rate*krPrice;
              $("#USD_currency").val(usd_result);
              var jpy_result = data[2].rate/data[0].rate*krPrice;
              $("#JPY_currency").val(jpy_result);
              var cny_result = data[3].rate/data[0].rate*krPrice;
              $("#CNY_currency").val(cny_result);
            };
            if (usPrice) {
              var krw_result = data[0].rate/data[1].rate*usPrice;
              $("#KRW_currency").val(krw_result);
              var jpy_result = data[2].rate/data[1].rate*usPrice;
              $("#JPY_currency").val(jpy_result);
              var cny_result = data[3].rate/data[1].rate*usPrice;
              $("#CNY_currency").val(cny_result);
            };
            if (jpPrice) {
              var krw_result = data[0].rate/data[2].rate*jpPrice;
              $("#KRW_currency").val(krw_result);
              var usd_result = data[1].rate/data[2].rate*jpPrice;
              $("#USD_currency").val(usd_result);
              var cny_result = data[3].rate/data[2].rate*jpPrice;
              $("#CNY_currency").val(cny_result);
            };
            if (cnPrice) {
              var krw_result = data[0].rate/data[3].rate*cnPrice;
              $("#KRW_currency").val(krw_result);
              var usd_result = data[1].rate/data[3].rate*cnPrice;
              $("#USD_currency").val(usd_result);
              var jpy_result = data[2].rate/data[3].rate*cnPrice;
              $("#JPY_currency").val(jpy_result);
            };
            
          },
          error: function(err) {
            console.log(err);
          }
      });

  });

$("#add_field_button").on("click", function(e) {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $("#add_field_button"); //Add button ID
    
    var x = 1; //initlal text box count
    e.preventDefault();
     //on add input button click
    if(x < max_fields){ //max input box allowed
        $(wrapper).append('<div><input type="file" name="images[]" class="form-control"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
          x++;
    }
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>