<div class="main">

<section class="hgroup">
<div class="container">
<h2><%= t(:menu_list) %></h2>
<div style="float:right">
<a class="btn btn-white" href="<%= new_restaurant_menu_path(@restaurant) %>" role="button">메뉴 추가</a>
</div>
</div>
</section>

<section>
  <div class="continer">
    <ul class="category-filters">
    <% @categories.each do |c| %>
      <li>
        <a href="#"><%= c.translation_category(session[:user_language]) %></a>
      </li>
    <% end %>
    </ul>
  </div>
</section>

<section>
<div class="container">
  <div class="row" style="display: block; position: relative;">
  <% @menus.each do |menu| %>
    <div class="col-sm-4">
      <div class="menu-box">
        <div class="overlay-container">
    <!-- trigger modal -->
      <a href="" class="menu-img-modal-btn" data-toggle="modal" data-target="#myModal-<%=menu.id%>" data-name="<%=menu.translation_name(session[:user_language])%>" data-category="<%=menu.translation_category(session[:user_language])%>" data-price="<%=menu.change_price(session[:user_currency])%>" data-desc="<%=menu.translation_desc(session[:user_language])%>">
        <img src="<%=menu.get_mphoto%>">
      </a>
    <!-- Modal -->
    <div class="modal fade" id="myModal-<%=menu.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%=menu.translation_name(session[:user_language])%></h4>
            <small><%=menu.translation_category(session[:user_language])%></small>
          </div>
          <div class="modal-body">
            <%= image_tag menu.get_mphoto %>
            <ul>
              <li>가격 : <%=menu.change_price(session[:user_currency])%></li>
              <li>설명: <%=menu.translation_desc(session[:user_language])%></li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-white" id="add-cart-btn" data-id="<%=menu.id%>" data-user="<%=current_user.id%>">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
        </div>
        <div class="menu-box-body">
          <h3><%=menu.translation_name(session[:user_language])%></h3>
          <small><%=menu.translation_category(session[:user_language])%></small>
          <p>
            <%= link_to '수정', edit_restaurant_menu_path(menu.restaurant, menu) %>
            <%= link_to '삭제', [menu.restaurant, menu], method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
</section>
</div>

<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel-1">
        </h4>
      </div>
      <div class="modal-body">
        
        <small class="myModalCategory"></small>
        <ul>
          <li class="myModalPrice">가격 : </li>
          <li class="myModalDesc">설명 : </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-white">Add to Cart</button>
      </div>
    </div>
  </div>
</div> -->
     <script type="text/javascript">
    // $(".menu-img-modal-btn").on('click',function(){
    //     $('.menu-img-modal-btn').magnificPopup({
    //       type: 'image',
    //       closeOnContentClick: true,
    //       mainClass: 'mfp-img-mobile',
    //       image: {
    //         verticalFit: true
    //       }
          
    //     });
        
    //     $("#myModalLabel-1").text($(this).data('name'));
    //     $(".myModalCategory").text($(this).data('category'));
    //     $(".myModalPrice").text($(this).data('price'));
    //     $(".myModalDesc").text($(this).data('desc'));
    //     $("#myModal").modal();

    // });

  $(document).on("click", "#add-cart-btn", function(e){
    var cart = {};
    console.log($(this).data('id'));
    console.log($(this).data('user'));
    $.ajax({
      url: "/carts.json",
      method: "POST",
      data: { menu_id : $(this).data('id'), cart_user: $(this).data('user') },
      dataType: "html"
    });
        //   $.post("/carts.json",
        //     {
        //         menu_id: $(this).data('id'),
        //         cart_user: $(this).data('user')
        //     },
        //     function(data, status){
        //         alert("Data: " + data + "\nStatus: " + status);
        //     });
        // });
  });
     </script>