<div class="main">
	<section class="hgroup">
		<div class="container">
			<h2><%= t(:new_menu_html)%> </h2>
		</div>
	</section>

	<section>
		<div class="container">
			<%= render 'form' %>
		</div>
	</section>
</div>