
<table class="table table-bordered">
  <thead>
    <tr>
      <th>메뉴명</th>
      <th>설명</th>
      <th>가격</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @menu.translation_name(session[:user_language]) %></td>
      <td><%= @menu.translation_desc(session[:user_language]) %></td>
      <td><%= @menu.change_price(session[:user_currency]) %></td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <% Language::LANGUAGES.values.each do |l| %>
        <th><%= l%></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>메뉴명</strong></td>
      <% @lang.language_maps.each do |m| %>
        <td><%= m.lan_text %></td>
      <% end %>
    </tr>
    <tr>
      <td><strong>설명</strong></td>
      <% @desc.language_maps.each do |d| %>
        <td><%= d.lan_text %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <% Currency::EXCHANGES.keys.each do |e| %>
        <th><%= e %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>가격</strong></td>
      <% @temp = @curr.exchange_maps.zip(Currency::EXCHANGES.values) %>
      <% @temp.each do |c, unit| %>
        <td><%= c.price %> <%= unit %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<a class="btn btn-primary" href="<%= edit_restaurant_menu_path(@menu.restaurant, @menu)%>" role="button">수정</a>
<a class="btn btn-default" href="<%= restaurant_path(@menu.restaurant) %>" role="button">식당으로 돌아가기</a>

