<div class="main">
  <section class="hgroup">
    <div class="container">
      <h2><%= t(:sign_in) %></h2>
    </div>
  </section>

  <section>
    <div class="container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="row">
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-white" %>
          </div>
        </div>
        <div class="col-sm-2">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-white" %><br />
          <% end -%>
        </div>
        </div>
        <%= render "users/shared/links" %>
      <% end %>
      
      </div>
    </div>
  </section>
</div>
