<%= form_for(@currency_map) do |f| %>
  <% if @currency_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@currency_map.errors.count, "error") %> prohibited this currency_map from being saved:</h2>

      <ul>
      <% @currency_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :language_id %><br>
    <%= f.text_field :language_id %>
  </div>
  <div class="field">
    <%= f.label :language_code %><br>
    <%= f.text_field :language_code %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
