<p id="notice"><%= notice %></p>

<h1>Listing Currency Maps</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Language code</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currency_maps.each do |currency_map| %>
      <tr>
        <td><%= currency_map.language %></td>
        <td><%= currency_map.language_code %></td>
        <td><%= currency_map.price %></td>
        <td><%= link_to 'Show', currency_map %></td>
        <td><%= link_to 'Edit', edit_currency_map_path(currency_map) %></td>
        <td><%= link_to 'Destroy', currency_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Currency map', new_currency_map_path %>
