<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @currency_map.language %>
</p>

<p>
  <strong>Language code:</strong>
  <%= @currency_map.language_code %>
</p>

<p>
  <strong>Price:</strong>
  <%= @currency_map.price %>
</p>

<%= link_to 'Edit', edit_currency_map_path(@currency_map) %> |
<%= link_to 'Back', currency_maps_path %>
