<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Cart.where(user_id: current_user.id).each do |c| %>
    <% @cart_menu_id = Menu.find(c.menu_id).language_id
    @cart_menu_price_id = Menu.find(c.menu_id).currency_id
    @cart_menu_price = ExchangeMap.find_by(currency_id: @cart_menu_price_id, currency_code: session[:user_currency]).price
    @cart_menu_name = LanguageMap.find_by(language_id: @cart_menu_id, code: session[:user_language]).lan_text %>
      <tr>
        <td>
          <h4><%= @cart_menu_name %></h4>
        </td>
        <td>
          <h4><%= @cart_menu_price %></h4>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>