<%= form_for(@language_map) do |f| %>
  <% if @language_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@language_map.errors.count, "error") %> prohibited this language_map from being saved:</h2>

      <ul>
      <% @language_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :lan_text %><br>
    <%= f.text_area :lan_text %>
  </div>
  <div class="field">
    <%= f.label :language_id %><br>
    <%= f.text_field :language_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
