<p id="notice"><%= notice %></p>

<h1>Listing Language Maps</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Lan text</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @language_maps.each do |language_map| %>
      <tr>
        <td><%= language_map.code %></td>
        <td><%= language_map.lan_text %></td>
        <td><%= language_map.language %></td>
        <td><%= link_to 'Show', language_map %></td>
        <td><%= link_to 'Edit', edit_language_map_path(language_map) %></td>
        <td><%= link_to 'Destroy', language_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Language map', new_language_map_path %>
