<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @language_map.code %>
</p>

<p>
  <strong>Lan text:</strong>
  <%= @language_map.lan_text %>
</p>

<p>
  <strong>Language:</strong>
  <%= @language_map.language %>
</p>

<%= link_to 'Edit', edit_language_map_path(@language_map) %> |
<%= link_to 'Back', language_maps_path %>
