
<div class="form-horizontal">
<%= form_for(@restaurant, html: { multipart: true }) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <div class="row">
    <div class="col-sm-4">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control"%>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="field">
        <%= f.label :Owner %><br>
        <%= f.text_field :Rep, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="field">
        <%= f.label :phone_number %><br>
        <%= f.text_field :phone_number, class: "form-control" %>
      </div>
    </div>
  </div>
  </div>

  <div class="form-group">
  <div class="row">
    <div class="col-sm-12">
      <div class="field">
        <%= f.label :address %><br>
        <%= f.text_field :address, class: "form-control"%>
      </div>
    </div>
  </div>
  </div>

  <div class="form-group">
  <div class="row">
    <div class="col-sm-4">
      <label for="open_time">open time</label>
      <div class="input-group bootstrap-timepicker timepicker">
        <input id="timepicker1" name="open_time" type="text" class="form-control input-small">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
      </div>
    </div>
    <script type="text/javascript">
      $('#timepicker1').timepicker();
    </script>

    <div class="col-sm-4">
      <label for="close_time">close time</label>
      <div class="input-group bootstrap-timepicker timepicker">
        <input id="timepicker2" name="close_time" type="text" class="form-control input-small">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
      </div>
    </div>
    <script type="text/javascript">
    $('#timepicker2').timepicker();
  </script>
  </div>
  </div>

  <div class="form-group">
  <div class="row">
    <div class="col-sm-4">
      <div class="field">
        <%= f.label :extra_info %><br>
        <%= f.text_field :extra_info, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="field">
        <%= f.label 'Restaurant Photo' %>
        <div class="input_fields_wrap">
            <a id="add_field_button", href="#", class="btn btn-default">Add More Fields</a>
            <div><input type="file" name="images[]" class="form-control"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <div class="form-group" style="float: right">
  <div class="row">
    <div class="col-sm-4">
      <div class="actions">
        <button class="btn btn-white">저장</button>
      </div>
    </div>
    <div class="col-sm-2">
    <a href="<%= restaurants_path %>" class="btn btn-white">뒤로</a>
    </div>
  </div>
  </div>
<% end %>
</div>

<script type="text/javascript">
$("#add_field_button").on("click", function(e) {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $("#add_field_button"); //Add button ID
    
    var x = 1; //initlal text box count
    e.preventDefault();
     //on add input button click
    if(x < max_fields){ //max input box allowed
        $(wrapper).append('<div><input type="file" name="images[]" class="form-control"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
          x++;
    }
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>