<div class="main">
	<section class="hgroup">
		<div class="container">
			<h2><%= t(:edit_restaurant)%> </h2>
		</div>
	</section>

	<section>
		<div class="container">
			<%= render 'form' %>
			<a class="btn btn-default" href="<%= restaurant_path(@restaurant) %>" role="button">식당으로 돌아가기</a>
		</div>
	</section>
</div>


