<div class="main">

<section class="hgroup">
<div class="container">
<h2><%= t(:restaurant_list) %></h2>
</div>
</section>

<section>
<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-sm-4" style="left:0px; top:0px;">
      <div class="restaurant_item">
      <a href="<%= restaurant %>">
        <%= image_tag restaurant.get_photo %></a>
        <div class="restaurant_name">
          <h4><%= link_to restaurant.name, restaurant %></h4>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</section>
</div>