<head>
	<link type="text/css" href="css/bootstrap-timepicker.min.css" />
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>
</head>
<div class="main">

<section class="hgroup">
<div class="container">
<h2><%= t(:new_restaurant_html) %></h2>
</div>
</section>

<section>
<div class="container">
<%= render 'form' %>
</div>
</section>

</div>
