<div class="main">

<section class="hgroup">
<div class="container">
<h2><%= @restaurant.name %></h2>
</div>
</section>

<section>
<div class="container">
<div class="row">

<div id="leftcol" class="col-md-6">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% count = 0 %>
    <% @restaurant_photos.each do |p| %>
      <li data-target="#myCarousel" data-slide-to="<%=count%>"></li>
      <% count += 1 %>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag @restaurant.get_photo %>
    </div>
    <% @restaurant_photos.each do |r| %>
      <div class="item">
        <%= image_tag r.get_photo %>
      </div>
    <% end %>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div id="sidebar" class="col-md-6">
<div class="row">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
  <tr>
    <th>식당이름</th>
    <td><%= @restaurant.name %></td>
  </tr>
  <tr>
    <th>주소</th>
    <td><%= @restaurant.address %></td>
  </tr>
  <tr>
    <th>대표자</th>
    <td><%= @restaurant.Rep %></td>
  </tr>
  <tr>
    <th>전화번호</th>
    <td><%= @restaurant.phone_number %></td>
  </tr>
  <tr>
    <th>영업시간</th>
    <td><%= @restaurant.open_time %> ~ <%= @restaurant.close_time %></td>
  </tr>
  <tr>
    <th>기타정보</th>
    <td><%= @restaurant.extra_info %></td>
  </tr>
</tbody>
</table>
</div>

<div class="row" style="padding-bottom: 5px">
<a href="<%= restaurant_menus_path(@restaurant) %>" class="btn btn-lg btn-white">메뉴판 보기</a>
</div>

<div class="row">
  <% if current_user.nil? %>
    <a class="btn btn-white" href="<%= restaurants_path %>">식당 리스트로 돌아가기</a>
  <% elsif @restaurant.user_id == current_user.id %>
    <a class="btn btn-white" href="<%= new_restaurant_category_path(@restaurant) %>" role="button">카테고리 추가</a>
    <a class="btn btn-white" href="<%= edit_restaurant_path(@restaurant) %>">식당 정보 수정</a>
    <%= link_to '식당 삭제', @restaurant, method: :delete, data: { confirm: 'Are you suer?', class: "btn btn-white" } %>
  <% else %>
      <a class="btn btn-white" href="<%= restaurants_path %>">식당 리스트로 돌아가기</a>
  <% end %>
</div>
</div>

</div>
</div>
</section>
