<%= form_for(@exchange_rate) do |f| %>
  <% if @exchange_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exchange_rate.errors.count, "error") %> prohibited this exchange_rate from being saved:</h2>

      <ul>
      <% @exchange_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-2">
  <% Currency::EXCHANGES.each_pair do |k, v| %>
  <div class="form-group">
    <label for="<%= v %>_rate">환율(<%=v%>)</label>
    <input type="text" class="form-control" id="<%= k %>" name="<%= k %>[rate]">/1000원
  </div>
  <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
