<p id="notice"><%= notice %></p>

<h1>Listing Exchange Rates</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exchange_rates.each do |exchange_rate| %>
      <tr>
        <td><%= exchange_rate.key %></td>
        <td><%= exchange_rate.rate %></td>
        <td><%= link_to 'Show', exchange_rate %></td>
        <td><%= link_to 'Edit', edit_exchange_rate_path(exchange_rate) %></td>
        <td><%= link_to 'Destroy', exchange_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exchange rate', new_exchange_rate_path %>
