<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @exchange_rate.key %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @exchange_rate.rate %>
</p>

<%= link_to 'Edit', edit_exchange_rate_path(@exchange_rate) %> |
<%= link_to 'Back', exchange_rates_path %>
