/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$navbar-default-color: #ff4500;
$navbar-default-bg: #990000;
$navbar-default-link-color: white;
$navbar-default-link-active-color: #b43c1e;
$navbar-default-link-hover-color: black;
$navbar-default-link-hover-bg: #cc0000;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-timepicker";

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar {
	border-radius: 0px;
}
.hgroup .container {
  margin-top: 26px;
  margin-bottom: 26px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cccccc;
}
.restaurant_item {
	text-align: center;
  padding: 0px;
  height: 320px;
  overflow: hidden;
  margin-bottom: 24px;
}
.restaurant_item .restaurant_name {
    padding: 20px 0 14px 0px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
}
#sidebar {
	box-sizing: border-box;
  padding: 0px 0 0 30px;
}
.btn-white {
  background-color: white;
  color: #990000;
  border: 1px solid #990000;
  border-radius: 0;
}
.btn-white:hover {
  background-color: #990000;
  color: white;
  border: 1px solid #990000;
  border-radius: 0;
}
.menu-box {
	background-color: #fafafa;
  border: 1px solid #f3f3f3;
}
.overlay-container {
	position: relative;
	display: block;
	overflow: hidden;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
	right: -1px;
	background-color: rgba(241, 241, 241, 0.85);
  overflow: hidden;
  opacity: 0;
  transition: all linear 0.2s;
}
.overlay-links {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -50px;
  font-size: 0;
  opacity: 0;
  transform: scale(0.4);
  transition: all 0.25s linear 0.05s;
}
.overlay a {
  color: #e84c3d;
  background-color: #ffffff;
}
.overlay-links a {
  position: static;
  margin-top: 0;
  margin-left: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 26px;
  text-align: center;
  top: 50%;
  left: 50%;
}
.menu-box-body {
  padding: 20px 15px 15px;
}
.filters {
  margin: 0 0 30px 0;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
a {
	color: #343434;
}
a:hover {
	color: #990000;
}
ul.category-filters {
  margin: 0 0 24px 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
ul.category-filters li {
  display: inline-block;
}
ul.category-filters li a {
  display: block;
  padding: 3px 16px;
  margin: 0 3px 6px 3px;
  text-transform: uppercase;
  background-color: #990000;
  color: #ffffff;
  position: relative;
}
ul.category-filters li a.active:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(66, 139, 202, 0);
  border-top-color: #428bca;
  border-width: 6px;
  margin-left: -6px;
}