<%= form_for([@restaurant, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-sm-3">
  <% Language::LANGUAGES.each_pair do |key, value| %>
    <div class="form-group">
      <label for="<%= key %>_name">카테고리명(<%= value %>)</label>
      <input type="text" class="form-control" 
        id="<%= key %>_name" name="<%= key %>[name]">
    </div>
  <% end %>
  </div>
  </div>

  <div class="row" style="float: right">
  <div class="col-sm-3">
  <div class="actions">
    <button class="btn btn-white">
      저장
    </button>
  </div>
  </div>
  <div class="col-sm-2">
  <a class="btn btn-white" href="<%= restaurant_path(@category.restaurant) %>" role="button">식당으로 돌아가기</a>
  </div>
  </div>
<% end %>
