<h1><%= t(:category) %></h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.translation_category(session[:user_language]) %></td>
        <td><%= link_to '수정', edit_restaurant_category_path(category.restaurant, category) %></td>
        <td><%= link_to '삭제', [category.restaurant, category] ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a class="btn btn-primary" href="<%= new_restaurant_category_path(@restaurant) %>" role="button">카테고리 추가</a>
