<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @category.translation_category(session[:user_language]) %>
</p>

<%= link_to '수정', edit_restaurant_category_path(@category.restaurant, @category) %> |
<%= link_to '식당으로 돌아가기', restaurant_path(@category.restaurant) %>
