<%= form_for(@restaurant_photo, url: restaurant_photos_path, html: { multipart: true }) do |f| %>
  <% if @restaurant_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant_photo.errors.count, "error") %> prohibited this restaurant_photo from being saved:</h2>

      <ul>
      <% @restaurant_photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.text_field :restaurant_id %>
  </div>
  <div class="field">
  <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
