<p id="notice"><%= notice %></p>

<h1>Listing Restaurant Photos</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_photos.each do |restaurant_photo| %>
      <tr>
        <td><%= restaurant_photo.restaurant %></td>
        <td><%= link_to 'Show', restaurant_photo %></td>
        <td><%= link_to 'Edit', edit_restaurant_photo_path(restaurant_photo) %></td>
        <td><%= link_to 'Destroy', restaurant_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant photo', new_restaurant_photo_path %>
