<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @restaurant_photo.restaurant %>
</p>

<%= image_tag @restaurant_photo.avatar.url %>
<%= image_tag @restaurant_photo.avatar.url(:medium) %>
<%= image_tag @restaurant_photo.avatar.url(:thumb) %>

<%= link_to 'Edit', edit_restaurant_photo_path(@restaurant_photo) %> |
<%= link_to 'Back', restaurant_photos_path %>
