<%= form_for(@menu_photo) do |f| %>
  <% if @menu_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_photo.errors.count, "error") %> prohibited this menu_photo from being saved:</h2>

      <ul>
      <% @menu_photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :menu_id %><br>
    <%= f.text_field :menu_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
