<p id="notice"><%= notice %></p>

<h1>Listing Menu Photos</h1>

<table>
  <thead>
    <tr>
      <th>Menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_photos.each do |menu_photo| %>
      <tr>
        <td><%= menu_photo.menu %></td>
        <td><%= link_to 'Show', menu_photo %></td>
        <td><%= link_to 'Edit', edit_menu_photo_path(menu_photo) %></td>
        <td><%= link_to 'Destroy', menu_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu photo', new_menu_photo_path %>
