<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/restaurants" class="navbar-brand"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> <%=t(:title)%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to t(:new_restaurant_html), "/restaurants/new" %></li>
        <li><%= link_to t(:restaurant_list), "/restaurants" %></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user.nil? %>
          <li>
        <!-- trigger modal -->
          <a href="" class="cart-modal-btn" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
        </li>
        <% end %>
        <li>
          <% if current_user.nil? %>
            <%= link_to 'Login', new_user_session_path %>
          <% else %>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
          <% end %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= Language::LANGUAGES[session[:user_language]] %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Language::LANGUAGES.each_pair do |key, value| %>
              <li>
                <li><%= link_to value, params.merge({:locale => key}) %></li>
              </li>
            <% end %>                    
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= session[:user_currency] %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Currency::EXCHANGES.each_pair do |key, value| %>
              <li><%= link_to key, params.merge({:currency => key}) %></li>
            <% end %>                    
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if !current_user.nil? %>
  <!-- modal -->
  <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3>My Cart</h3>
        </div>
        <div class="modal-body">
        <%= render partial:'carts/index' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(".cart-modal-btn").on("click", function(e) {
      $("#cartModal").modal();
    });
  </script>  
<% end %>