<div class="main">
  <section class="hgroup">
    <div class="container">
      <h2><%= t(:sign_up) %></h2>
    </div>
  </section>

  <section>
    <div class="container">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-white" %>
            </div>
          </div>
          <div class="col-sm-3">
            <%= render "users/shared/links" %>
          </div>
        </div>
      <% end %>
      
      
      </div>
    </div>
  </section>
</div>
